* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    margin: 8px;
    font-family: poppins;
}
.header-section p {
    text-decoration: none;
    color: coral;
}
.header-logo {
    color: coral;
    font-size: 20px;
    font-weight: 600;
}
.header-btn button {
    color: #fff;
    background-color: coral;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 14px;
}
.header-description {
    color: coral;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: raleway;
    margin-top: 50px;
}
.container {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    gap: 20px;
    text-align: center;
    font-family: poppins;
}
img {
    width: 200px;
    height: 200px;
    object-fit: center;
    object-position: cover;
    border-radius: 8px;
}
.prank-container {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
.prank-container button {
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: coral;
    color: #fff;
}
.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    align-items: center;
}
input {
    width: 500px;
    height: 30px;
    background-color: #eee;
    outline: none;
    border: none;
    margin-top: 20px;
    padding-left: 10px;
}
.submit {
    color: #fff;
    background-color: coral;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 14px;
    margin-top: 20px;
}
@media  (max-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-inline: auto;
        margin: 8px;
        font-family: poppins;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: center;
        object-position: cover;
        border-radius: 8px;
    }
    .notes {
        font-size: 15px;
    }
    body {
        width: auto;
    }

}
@media  (max-width: 700px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-inline: auto;
        margin: 8px;
        font-family: poppins;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: center;
        object-position: cover;
        border-radius: 8px;
    }
    body {
        width: auto;
    }
}

@media  (max-width: 500px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-inline: auto;
        margin: 8px;
        font-family: poppins;
    }
    img {
        width: 80px;
        height: 80px;
        object-fit: center;
        object-position: cover;
        border-radius: 8px;
    }
    .notes {
        font-size: 15px;
    }
    input {
        width: 400px;
        height: 40px;
        background-color: #eee;
        outline: none;
        border: none;
        margin-top: 20px;
        padding-left: 10px;
    }
    body {
        width: auto;
    }
}
